# Copiar a .env y completar localmente. Nunca guardar credenciales en Git.
DJANGO_SECRET_KEY=
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_TIME_ZONE=America/Hermosillo

POSTGRES_DB=atencion_ciudadana
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
